:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --primary-white-color: #ffffff;
  --footer-fon-color: #2f303a;
}

.list {
  list-style: none;
}

a {
  list-style: none;
  text-decoration: none;
}

.page-body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
}

.footer-color {
  background-color: var(--footer-fon-color);
}

.logo_web {
  color: var(--accent-color);
  font-family: Raleway;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo_studio {
  color: var(--logo-color);
  font-family: Raleway;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo_studio_white {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* site nav */
.navigation_menu {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation_menu_studio,
.navigation_menu_portfolio,
.navigation_menu_contact {
  color: var(--primary-text-color);
  text-decoration: none;
}

.navigation_menu_studio:hover,
.navigation_menu_studio:focus {
  color: var(--accent-color);
}

.navigation_menu_portfolio:hover,
.navigation_menu_portfolio:focus {
  color: var(--accent-color);
}

.navigation_menu_contact:hover,
.navigation_menu_contact:focus {
  color: var(--accent-color);
}
/* mail+tel */

.navigation_mail,
.navigation_tel {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation_menu_studio.current,
.navigation_menu_portfolio.current {
  color: var(--accent-color);
}

.navigation_mail:hover,
.navigation_mail:focus,
.navigation_tel:hover,
.navigation_tel:focus {
  color: var(--accent-color);
}

/* contact */
.address_menu {
  text-decoration: none;
  list-style: none;
  font-style: normal;
}

.address_street {
  color: var(--primary-white-color);
  font: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  list-style: none;
  text-decoration: none;
}

.address_mail {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  list-style: none;
  text-decoration: none;
}

.address_tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  list-style: none;
  text-decoration: none;
}
